<h1>Edit Survey: <a href="/edit_survey/<%= @survey.id()%>"><%= @survey.name() %></a></h1>

<form action= "/questions" method="post">
  <input value="<%= @survey.id() %>" name="survey_id" type="hidden">
  <div class="form-group">
    <label for="description">Add your Question here!</label>
    <input name="description" id="description" type ="text">
  </div>
  <button type="submit-warning">Add Question</button>
</form>

<h3>Here are your questions!</h3>
<% if @questions.any?() %>
<ol>
  <% @questions.each() do |question| %>
    <li><a href='/edit_question/<%= question.id()%>'><%= question.description() %></a></li>
  <% end %>
</ol>
<% end %>

<a href="/">Return to Survey List</a>
